<a id="logo" href="/">


<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="67.90802mm"
   height="34.789433mm"
   viewBox="0 0 240.61896 123.26964"
   id="svg4319"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="logo.svg">
  <defs
     id="defs4321" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="1.4"
     inkscape:cx="-94.105914"
     inkscape:cy="-85.411995"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     fit-margin-top="5"
     fit-margin-left="5"
     fit-margin-right="5"
     fit-margin-bottom="5"
     inkscape:window-width="1920"
     inkscape:window-height="1026"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata4324">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Calque 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(-184.86771,-5.8203555)">
    <path
       style="fill:#f58b36;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 252.00287,28.839894 c -0.25478,0.0022 -0.49682,0.02987 -0.72773,0.07843 -2.00119,0.420351 -3.0959,2.38022 -3.0959,2.38022 l -2.70187,17.851668 -6.87831,1.545938 -6.74967,2.048519 -10.90198,-14.393906 c 0,0 -2.87585,-1.81559 -5.20069,0.116596 -2.32485,1.932185 -0.7378,4.478998 -0.7378,4.478998 l 9.92094,13.702364 8.99086,14.797641 21.1097,-9.158683 -1.61026,-13.010814 2.17116,-16.77815 c 0,0 0.17709,-2.995424 -2.78834,-3.582398 -0.27802,-0.05495 -0.54533,-0.07873 -0.80011,-0.07636 z m -15.90767,4.338282 c -0.47221,0.02285 -0.94094,0.09286 -1.39919,0.209066 -3.79171,0.963554 -6.08421,4.818615 -5.12029,8.610215 0.96352,3.79269 4.81996,6.085485 8.61222,5.12028 3.79186,-0.964412 6.08361,-4.820562 5.11828,-8.612207 -0.83102,-3.264606 -3.84635,-5.49226 -7.21102,-5.327354 z"
       id="path4981-4-6-9-1-5-2"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccccccsccccccccccccccc"
       inkscape:export-xdpi="59.444298"
       inkscape:export-ydpi="59.444298" />
    <path
       style="fill:#44c54d;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 286.61122,23.706802 c -0.25358,-0.02471 -0.497,-0.02172 -0.73175,0.0022 -2.03451,0.205559 -3.33111,2.038461 -3.33111,2.038461 l -4.58152,17.463675 -7.00397,0.807144 -6.92959,1.319781 -9.3118,-15.469433 c 0,0 -2.66582,-2.110754 -5.18261,-0.436246 -2.51679,1.674515 -1.21021,4.374462 -1.21021,4.374462 l 8.41118,14.679378 3.45373,12.610755 25.89096,-2.979298 -0.2332,-13.937561 3.94023,-16.454496 c 0,0 0.49408,-2.959401 -2.39228,-3.857807 -0.27059,-0.0844 -0.53446,-0.136118 -0.78806,-0.160831 z M 269.624,26.326251 c -0.23549,0.01038 -0.47033,0.03255 -0.70362,0.06638 -3.87277,0.554886 -6.56225,4.144474 -6.00684,8.017168 0.55582,3.873763 4.14773,6.562735 8.0212,6.004825 3.87204,-0.556843 6.55958,-4.147119 6.00281,-8.019172 -0.5175,-3.601032 -3.67883,-6.224477 -7.31355,-6.069171 z"
       id="path4981-4-6-8-3-9"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccccccscccccccccccccccc"
       inkscape:export-xdpi="59.444298"
       inkscape:export-ydpi="59.444298" />
    <path
       style="fill:#3492c9;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 320.65416,23.630329 c -0.25359,0.02471 -0.51544,0.07647 -0.78604,0.160822 -2.88636,0.898415 -2.39228,3.859823 -2.39228,3.859823 l 3.93822,16.452481 -0.22515,13.455087 25.06055,3.109024 4.2781,-12.257999 8.40919,-14.677364 c 0,0 1.30858,-2.701961 -1.20822,-4.376477 -2.5168,-1.674514 -5.18262,0.438248 -5.18262,0.438248 l -9.3118,15.467432 -6.93161,-1.319781 -7.00197,-0.807144 -4.58151,-17.463675 c 0,0 -1.29661,-1.832903 -3.33111,-2.038461 -0.23476,-0.02374 -0.48019,-0.02673 -0.73377,-0.0022 z m 16.98724,2.619449 c -3.63396,-0.154253 -6.79412,2.46893 -7.31155,6.069171 -0.55675,3.872053 2.13078,7.462329 6.00283,8.019171 3.87273,0.556694 7.46332,-2.131972 8.01917,-6.004831 0.55547,-3.872015 -2.13289,-7.461289 -6.00484,-8.017161 -0.23395,-0.0339 -0.46945,-0.05607 -0.70561,-0.06638 z"
       id="path4981-4-6-6-2"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccccccccsccccccccccccccc"
       inkscape:export-xdpi="59.444298"
       inkscape:export-ydpi="59.444298" />
    <path
       style="fill:#f0d70d;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 286.03957,23.540163 c -0.47146,0.01978 -0.96986,0.130228 -1.48161,0.373922 -2.7293,1.299653 -1.81934,4.159361 -1.81934,4.159361 l 6.23804,15.726753 1.72485,13.625965 12.58864,-1.447433 13.39076,1.708776 1.72486,-13.764681 6.23803,-15.724744 c 0,0 0.90997,-2.859694 -1.81934,-4.159362 -2.7293,-1.299668 -5.06802,1.170008 -5.06802,1.170008 l -7.01804,16.635424 -7.0943,-0.769433 -7.00001,0.644798 -7.01804,-16.635424 c 0,0 -1.54332,-1.629721 -3.5864,-1.54393 z m 17.16816,0.245262 c -3.91129,4.55e-4 -7.08191,3.171073 -7.08236,7.082366 -6.6e-4,3.912077 3.17029,7.083912 7.08236,7.084375 3.91287,6.57e-4 7.08503,-3.171514 7.08438,-7.084375 -4.5e-4,-3.912084 -3.17229,-7.083023 -7.08438,-7.082366 z"
       id="path4981-4-5-1"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cccccccccscccccccccccc"
       inkscape:export-xdpi="59.444298"
       inkscape:export-ydpi="59.444298" />
    <path
       style="fill:#b06ea3;fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 355.63959,28.692025 c -0.25478,-0.0022 -0.52007,0.02143 -0.79809,0.07637 -2.96542,0.586969 -2.78832,3.582392 -2.78832,3.582392 l 2.16914,16.778149 -1.63641,13.223912 21.25371,9.329556 8.875,-15.181612 9.92094,-13.702356 c 0,0 1.58504,-2.546813 -0.73979,-4.478998 -2.32484,-1.932193 -5.1987,-0.114594 -5.1987,-0.114594 l -10.90198,14.391904 -6.75067,-2.047517 -6.87731,-1.546946 -2.70388,-17.851662 c 0,0 -1.09269,-1.959875 -3.09389,-2.380226 -0.23091,-0.04861 -0.47497,-0.07606 -0.72975,-0.07843 z m 15.20005,4.338282 c -3.10042,0.15915 -5.73589,2.318701 -6.50138,5.327354 -0.96531,3.791644 1.32641,7.647794 5.11828,8.612215 3.7916,0.963919 7.64667,-1.328584 8.61022,-5.12028 0.96392,-3.791608 -1.32859,-7.646676 -5.1203,-8.610223 -0.68783,-0.174843 -1.39803,-0.245314 -2.10682,-0.209066 z"
       id="path4981-4-6-9-2-7"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="ccccccccscccccccccccccc"
       inkscape:export-xdpi="59.444298"
       inkscape:export-ydpi="59.444298" />
    <rect
       style="color:#000000;clip-rule:nonzero;display:inline;overflow:visible;visibility:visible;opacity:1;isolation:auto;mix-blend-mode:normal;color-interpolation:sRGB;color-interpolation-filters:linearRGB;solid-color:#000000;solid-opacity:1;fill:#ffffff;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:4.79702091;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1;color-rendering:auto;image-rendering:auto;shape-rendering:auto;text-rendering:auto;enable-background:accumulate"
       id="rect5933-9-0"
       width="195.3295"
       height="3.0166717"
       x="209.18492"
       y="72.820198"
       inkscape:export-xdpi="59.444298"
       inkscape:export-ydpi="59.444298" />
    <path
       style="opacity:1;fill:#ecde3f;fill-opacity:0.90573772;stroke:none;stroke-width:4;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
       d="m 303.50963,59.927801 -50.46915,6.845366 -11.90915,6.193792 122.5352,0 -10.03755,-5.498652 -50.11935,-7.540506 z"
       id="path5000-3-34-1-9"
       inkscape:connector-curvature="0"
       inkscape:export-xdpi="59.444298"
       inkscape:export-ydpi="59.444298" />
    <text
       sodipodi:linespacing="125%"
       id="text6348-6-9-2-3"
       y="110.65204"
       x="201.52307"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:42.44709015px;line-height:125%;font-family:'Fira Sans';-inkscape-font-specification:'Fira Sans';letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;"
       xml:space="preserve"
       inkscape:export-xdpi="59.444298"
       inkscape:export-ydpi="59.444298"><tspan
         style="letter-spacing:-1.78750181px;word-spacing:-0.82679218px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;"
         dx="0"
         y="110.65204"
         x="201.52307"
         id="tspan6350-7-0-7-6"
         sodipodi:role="line">SIMPL</tspan></text>
    <text
       sodipodi:linespacing="125%"
       id="text6348-5-0-0"
       y="110.65186"
       x="306.71823"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:42.44709015px;line-height:125%;font-family:'Fira Sans';-inkscape-font-specification:'Fira Sans';letter-spacing:0px;word-spacing:0px;fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;"
       xml:space="preserve"
       inkscape:export-xdpi="59.444298"
       inkscape:export-ydpi="59.444298"><tspan
         style="font-style:normal;font-variant:normal;font-weight:600;font-stretch:normal;font-family:'Fira Sans';-inkscape-font-specification:'Fira Sans Semi-Bold';fill:#ffffff;fill-opacity:1;stroke:none;stroke-width:1;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;"
         y="110.65186"
         x="306.71823"
         id="tspan6350-3-9-62"
         sodipodi:role="line">ASSO</tspan></text>
  </g>
</svg>

</a>
